SECRET_KEY=""
DEBUG=1
ALLOWED_HOSTS="127.0.0.1,localhost"
PAGE_SIZE=10
CORS_ALLOWED_ORIGINS="http://localhost:8000"

# database
DB_ENGINE="django.db.backends.postgresql"
DB_NAME="mydatabase"
DB_USER="mydatabaseuser"
DB_PASSWORD="mypassword"
DB_HOST="127.0.0.1"
DB_PORT="5432"

#email config
Email="myemail"
password="mypassword"
url="base url"
resetlink="link to reset password"

#google oauth config
LOGIN_REDIRECT_URL="frontend home page url"
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY='your google client id'
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET='your google client secret'