SECRET_KEY=""
DEBUG=1
ALLOWED_HOSTS="127.0.0.1,localhost"
PAGE_SIZE=10
CORS_ALLOWED_ORIGINS="http://localhost:8000"

# database
# ENGINE="django.db.backends.postgresql"
# NAME="mydatabase"
# USER="mydatabaseuser"
# PASSWORD="mypassword"
# HOST="127.0.0.1"
# PORT="5432"
