wheel
asgiref==3.5.2
attrs==22.1.0
backports.zoneinfo==0.2.1
cfgv==3.3.1
click==8.1.3
commit-msg-hook==0.3.4
distlib==0.3.6
Django==4.1.1
django-cors-headers==3.13.0
django-filter==22.1
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
filelock==3.8.0
gunicorn==20.1.0
identify==2.5.5
importlib-metadata==4.12.0
iniconfig==1.1.1
joblib==1.2.0
Markdown==3.4.1
nltk==3.7
nodeenv==1.7.0
packaging==21.3
platformdirs==2.5.2
pluggy==1.0.0
pre-commit==2.20.0
psycopg2==2.9.3
py==1.11.0
Pygments==2.13.0
PyJWT==2.5.0
pyparsing==3.0.9
pytest==7.1.3
pytest-django==4.5.2
pytest-dotenv==0.5.2
python-dotenv==0.21.0
pytz==2022.2.1
PyYAML==6.0
regex==2022.9.13
sqlparse==0.4.2
toml==0.10.2
tomli==2.0.1
tqdm==4.64.1
virtualenv==20.16.5
zipp==3.8.1
django-rest-authemail==2.1.4
social-auth-app-django==5.0.0